node_modules/
out/
*.vsix

# Local test artifacts
/test-output/

# Node / build artifacts
dist/
build/

# Logs and env
*.log
npm-debug.log*
.env

# OS / editor files
.DS_Store
.vscode/*.local

# Ignore everything in .vscode
.vscode/*

# But DO track these specific files
!.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
